token: GITHUB_ACCESS_TOKEN
http_proxy:
https_proxy: "http://127.0.0.1:8123"
runner:
  action-extra-x86_64-build: petronny/action-runner-x86_64
  action-extra-x86_64-powerful-build:
  action-multilib-build: petronny/action-runner-x86_64
  action-multilib-powerful-build:
  action-extra-armv6h-build:
  action-extra-armv7h-build:
  action-extra-aarch64-build:
